.body {
    background: #292c34;
    font-family: 'Roboto Mono', monospace;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.name {
    font-style: bold;
    font-size: 50px;
    text-align: center;
}

.sub-title {
    font-size: 25px;
    font-style: bold;
    padding: 10px;
}

.sub-div {
    text-align: center;
    margin: auto; 
    max-width: 400px;
}

.fa {
    font-size: 35px;
}

.box {
    border: solid 1px white;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

.box:hover {
    background: #3cbe82;
    cursor: pointer;
}

.spacing-v {
    margin-top: 25px;
}

.right {
    border-right: none;
}

.left {
    border-left: none;
}

.top {
    border-top: none;
}

.bottom {
    border-bottom: none;
}
